.btn_round_link {
  min-width: 80px;
  min-height: 80px;
  border-radius: 100%;
  border: 2px solid #f2e9e4;
  align-self: flex-end;
  background: fixed
    linear-gradient(
      180deg,
      rgba(201, 173, 167, 0.2) 0%,
      rgba(242, 233, 228, 0.2) 100%
    );
  a {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .reversed {
    transform: rotate(180deg);
  }
}
