header {
  display: flex;
  align-items: center;
  background-color: black;
  height: 64px;
  padding: 0 16px 0 56px;
  .logo {
    font-family: "annabel";
    color: white;
    width: fit-content;
  }
  button {
    background: none;
    border: 0;
    padding: 0;
  }
  button:hover {
    cursor: pointer;
    img {
      opacity: 0.7;
    }
  }
  .search_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  img {
    width: 40px;
  }
  a {
    text-decoration: none;
  }
}
