.search_form {
  display: flex;
  transition: all 0.5s linear;
  align-items: center;
  height: 40px;
  width: 0px;
  input {
    display: none;
    width: 0px;
  }
  button {
    display: none;
  }
}

.search_form.active {
  width: fit-content;
  position: relative;
  display: flex;
  input {
    display: block;
    border: none;
    border-radius: 16px;
    height: 100%;
    width: 700px;
    max-width: 60vw;
  }
  input:active {
    border: none;
  }
  input:focus {
    border: none;
  }
  button {
    position: absolute;
    display: block;
    border: 1px solid white;
    color: white;
    background: black;
    border-radius: 0 16px 16px 0;
    height: 100%;
    right: 0;
  }
}

.suggestions {
  position: absolute;
  flex-direction: column;
  padding: 16px 16px 24px 16px;
  top: 40px;
  z-index: 1;
}

.active_artist {
  font-weight: bold;
}
