@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: underline;
}

html,
body {
  height: 100%;
  font: 14px "Encode Sans Condensed", sans-serif, "Century Gothic", Futura;
  color: white;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  font-size: 18px;
}

p {
  font-size: 18px;
}

h1,
h2,
h3 {
  font-family: "Italiana";
  font-weight: 500;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  display: inline-flex;
  list-style: none outside none;
}
